

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    width: 200px;
    height: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.content h3 {
    font-size: 5rem;
    font-weight: 900;
    padding: 20px;
}